<%= simple_form_for @sentence, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :number %>
  <%= f.input :year %>
  <%= f.input :sentence_date %>
  <%= f.input :publication_date %>
  <%= f.input :role_number %>
  <%= f.input :role_year %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sentences_path, :class => 'btn' %>
  </div>
<% end %>
