<%- model_class = Sentence -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:sentence_date) %></th>
      <th><%= model_class.human_attribute_name(:pubblication_date) %></th>
      <th><%= model_class.human_attribute_name(:role_number) %></th>
      <th><%= model_class.human_attribute_name(:role_year) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sentences.each do |sentence| %>
      <tr>
        <td><%= link_to sentence.id, sentence_path(sentence) %></td>
        <td><%= sentence.number %></td>
        <td><%= sentence.year %></td>
        <td><%= sentence.sentence_date %></td>
        <td><%= sentence.pubblication_date %></td>
        <td><%= sentence.role_number %></td>
        <td><%= sentence.role_year %></td>
        <td><%=l sentence.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_sentence_path(sentence), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      sentence_path(sentence),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sentence_path,
            :class => 'btn btn-primary' %>
